{% trans %}
<p>The Farr Commons aims to bring together investigators across the Farr
  Institute so that they can easily and securely, share and reuse methodology
   and data.</p>

<p>The Farr Commons serves as a pilot for the NIH Research Object Commons -
   “a conceptual framework for a digital environment to allow efficient storage,
    manipulation, and sharing of research objects”.</p>

<p></p>

<p>FarrInstitute: <a href="http://www.farrinstitute.org">http://www.farinstitute.org</a><br />
NIH Research Object Commons: <a href="http://bd2k.nih.gov/commons.html">http://bd2k.nih.gov/commons.html</a><br />
{% endtrans %}
